.card__like-btn {
  min-width: 22px;
  height: 19px;
  align-self: end;
  padding: 0;
  border: none;
  outline: none;
  background-color: white;
  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  transition: opacity .2s linear;
}

.card__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}

.card__like-btn:focus {
  opacity: .5;
}
