.popup__field {
  display: block;
  position: relative;
  padding: 0;
  margin: 0 0 30px 0;
}

.popup__field:nth-child(2) {
  margin: 0 0 48px 0;
}

@media screen and (max-width: 767px) {
  .popup__field:nth-child(2) {
    margin: 0 0 45px 0;
  }
}
